<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
        <section class="container"></section>
            <h1>product</h1>
                <div class="card">
                <h2><%= product.name %></h2>
                <img src="<%= product.image %>" alt="Plante <%= product.id %>">
                <p><%= product.description %></p>
                <p><%= product.price %></p>
            </div>
        </section>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>