<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>products</h1>
        <% products.forEach(product => { %>
            <%-product.name %>
            <h2><%= product.name %></h2>
            <img src="<%= product.image %>" alt="Plante <%= product.id %>">
            <p><%= product.description %></p>
            <p><%= product.price %></p>
           <% }) %>
        
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
